<a href="https://colab.research.google.com/github/12Nepo/Evaluacion/blob/main/DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df= pd.read_csv('DF_Mexico.csv')

In [ ]:
#Identificar valores nulos por columna
valores_nulos=df.isnull().sum()
valores_nulos

In [ ]:
#Convertir archivo filtrado a CSV
valores_nulos.to_csv("NULOS DF.csv")

In [ ]:
#descardar archivo filtrado en csv
from google.colab import files 
  
  
files.download("NULOS DF.csv")

In [ ]:
df = df.drop('neighbourhood_group_cleansed', axis=1)

In [ ]:
df = df.drop('bathrooms', axis=1)

In [ ]:
df = df.drop('calendar_updated', axis=1)

In [ ]:
df = df.drop('license', axis=1)

#**Sustitucion valores**

In [ ]:
#Realizamos una copia del dataframe
data=df.copy()

In [ ]:
data["name"] =data["name"].fillna("sin informacion")

In [ ]:
data["description"] =data["description"].fillna("sin informacion")

In [ ]:
data["neighborhood_overview"] =data["neighborhood_overview"].fillna("sin informacion")

In [ ]:
data["host_location"] =data["host_location"].fillna("sin informacion")

In [ ]:
data["host_about"] =data["host_about"].fillna("sin informacion")

In [ ]:
data["host_response_time"] =data["host_response_time"].fillna("0")

In [ ]:
data["host_response_rate"] =data["host_response_rate"].fillna("0")

In [ ]:
data["host_acceptance_rate"] =data["host_acceptance_rate"].fillna("0")

In [ ]:
data["host_is_superhost"] =data["host_is_superhost"].fillna("sin informacion")

In [ ]:
data["host_neighbourhood"] =data["host_neighbourhood"].fillna("sin informacion")

In [ ]:
data["neighbourhood"] =data["neighbourhood"].fillna("sin informacion")

In [ ]:
data["bathrooms_text"] =data["bathrooms_text"].fillna("sin informacion")

In [ ]:
data["bedrooms"]=data["bedrooms"].fillna(round(data["bedrooms"].mean(),1))

In [ ]:
data["beds"]=data["beds"].fillna(round(data["beds"].mean(),1))

In [ ]:
data["minimum_minimum_nights"]=data["minimum_minimum_nights"].fillna(round(data["minimum_minimum_nights"].mean(),1))

In [ ]:
data["maximum_minimum_nights"]=data["maximum_minimum_nights"].fillna(round(data["maximum_minimum_nights"].mean(),1))

In [ ]:
data["minimum_maximum_nights"]=data["minimum_maximum_nights"].fillna(round(data["minimum_maximum_nights"].mean(),1))

In [ ]:
data["minimum_maximum_nights"]=data["minimum_maximum_nights"].fillna(round(data["minimum_maximum_nights"].mean(),1))

In [ ]:
data["minimum_nights_avg_ntm"]=data["minimum_nights_avg_ntm"].fillna(round(data["minimum_nights_avg_ntm"].mean(),1))

In [ ]:
data["maximum_nights_avg_ntm"]=data["maximum_nights_avg_ntm"].fillna(round(data["maximum_nights_avg_ntm"].mean(),1))

In [ ]:
data["maximum_maximum_nights"]=data["maximum_maximum_nights"].fillna(round(data["maximum_maximum_nights"].mean(),1))

In [ ]:
data["first_review"] =data["first_review"].fillna("sin informacion")

In [ ]:
data["last_review"] =data["last_review"].fillna("sin informacion")

In [ ]:
data["review_scores_rating"]=data["review_scores_rating"].fillna(round(data["review_scores_rating"].mean(),1))

In [ ]:
data["review_scores_accuracy"]=data["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].mean(),1))

In [ ]:
data["review_scores_cleanliness"]=data["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].mean(),1))

In [ ]:
data["review_scores_checkin"]=data["review_scores_checkin"].fillna(round(data["review_scores_checkin"].mean(),1))

In [ ]:
data["review_scores_communication"]=data["review_scores_communication"].fillna(round(data["review_scores_communication"].mean(),1))

In [ ]:
data["review_scores_location"]=data["review_scores_location"].fillna(round(data["review_scores_location"].mean(),1))

In [ ]:
data["instant_bookable"] =data["instant_bookable"].fillna("sin informacion")

In [ ]:
data["calculated_host_listings_count"]=data["calculated_host_listings_count"].fillna(round(data["calculated_host_listings_count"].mean(),1))

In [ ]:
data["calculated_host_listings_count_entire_homes"]=data["calculated_host_listings_count_entire_homes"].fillna(round(data["calculated_host_listings_count_entire_homes"].mean(),1))

In [ ]:
data["calculated_host_listings_count_private_rooms"]=data["calculated_host_listings_count_private_rooms"].fillna(round(data["calculated_host_listings_count_private_rooms"].mean(),1))

In [ ]:
data["calculated_host_listings_count_shared_rooms"]=data["calculated_host_listings_count_shared_rooms"].fillna(round(data["calculated_host_listings_count_shared_rooms"].mean(),1))

In [ ]:
data["reviews_per_month"]=data["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),1))

In [ ]:
data["review_scores_value"]=data["review_scores_value"].fillna(round(data["review_scores_value"].mean(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data.isnull().sum().sum()
valores_nulos

#**Outliers**

In [ ]:
columnas_cualitativas = data.select_dtypes(include=['object']).columns
print(columnas_cualitativas)

In [ ]:
columnas_cuantitativas = data.select_dtypes(include=['number']).columns
columnas_cuantitativas

In [ ]:
cualitativas = ['listing_url', 'last_scraped', 'source', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'instant_bookable']
df_copia = data.loc[:, cualitativas].copy()
df_copia

,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_url,host_name,host_since,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
0,https://www.airbnb.com/rooms/2056638,2023-03-30,city scrape,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,sin informacion,https://a0.muscache.com/pictures/28353712/4379...,https://www.airbnb.com/users/show/10531228,Maria,2013-12-09,...,Entire loft,Entire home/apt,1.5 baths,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...","$1,434.00",t,2023-03-30,2014-01-03,2018-06-24,f
1,https://www.airbnb.com/rooms/2072354,2023-03-30,city scrape,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...",https://a0.muscache.com/pictures/369f3371-593a...,https://www.airbnb.com/users/show/16840050,Mónica,2014-06-16,...,Entire guest suite,Entire home/apt,1 bath,"[""Free street parking"", ""Cleaning products"", ""...",$830.00,t,2023-03-30,2014-01-01,2022-11-04,f
2,https://www.airbnb.com/rooms/696037,2023-03-29,city scrape,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...",https://a0.muscache.com/pictures/10960397/67b2...,https://www.airbnb.com/users/show/3531879,Gonzalo & Sandra,2012-09-10,...,Entire rental unit,Entire home/apt,2 baths,"[""Wifi \u2013 38 Mbps"", ""Central air condition...","$1,469.00",t,2023-03-29,2012-10-31,2022-12-21,f
3,https://www.airbnb.com/rooms/35797,2023-03-29,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,https://www.airbnb.com/users/show/153786,Dici,2010-06-28,...,Entire villa,Entire home/apt,1 bath,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...","$3,658.00",t,2023-03-29,sin informacion,sin informacion,f
4,https://www.airbnb.com/rooms/44616,2023-03-30,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,sin informacion,https://a0.muscache.com/pictures/251410/ec75fe...,https://www.airbnb.com/users/show/196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,...,Entire home,Entire home/apt,5.5 baths,"[""Free street parking"", ""Security cameras on p...","$18,000.00",t,2023-03-30,2011-11-09,2023-03-26,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22006,https://www.airbnb.com/rooms/803701530756714315,2023-03-29,city scrape,"A Roma, Chilpancingo Habitación c/baño privado 07","Una habitación privada con baño privado, perfe...",Estamos ubicados en una gran y tranquila zona ...,https://a0.muscache.com/pictures/miso/Hosting-...,https://www.airbnb.com/users/show/322510577,Urbano Suites,2019-12-30,...,Private room in rental unit,Private room,1 private bath,"[""Wifi"", ""Pets allowed"", ""Lockbox"", ""TV"", ""Fir...",$283.00,t,2023-03-29,2023-01-22,2023-02-17,t
22007,https://www.airbnb.com/rooms/803741611995338649,2023-03-30,city scrape,"Precioso, cómodo y bien ubicado!",Disfruta de una experiencia con estilo en este...,"El vecindario es muy tranquilo, también el edi...",https://a0.muscache.com/pictures/5c8c2541-f76f...,https://www.airbnb.com/users/show/195253877,Luis,2018-06-12,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Free street parking"", ""Luggag...",$804.00,t,2023-03-30,2023-01-19,2023-01-29,t
22008,https://www.airbnb.com/rooms/803758966788215755,2023-03-30,city scrape,Awesome location Mexican home 2,Located right on the heart of Roma neighborhoo...,sin informacion,https://a0.muscache.com/pictures/miso/Hosting-...,https://www.airbnb.com/users/show/492089560,Amparo,2022-12-19,...,Private room in rental unit,Private room,1 shared bath,"[""Cleaning products"", ""Dedicated workspace"", ""...",$454.00,t,2023-03-30,sin informacion,sin informacion,f
22009,https://www.airbnb.com/rooms/802784776175944639,2023-03-30,city scrape,"La mejor ubicación, balcón y garage.",La ubicación es inigualable! A unos pasos del ...,sin informacion,https://a0.muscache.com/pictures/miso/Hosting-...,https://www.airbnb.com/users/show/27411678,Casa,2015-02-08,...,Entire rental unit,Entire home/apt,1 bath,"[""Wifi"", ""Cleaning available during stay"", ""Lu...","$1,200.00",t,2023-03-30,2023-01-20,2023-03-20,t
22010,https://www.airbnb.com/rooms/803765572979340478,2023-03-30,city scrape,Confortable habitación en condesa,"Comfortable habitación , con baño y áreas comp...","Una de las mejores ubicación de la condesa , r...",https://a0.muscache.com/pictures/miso/Hosting-...,https://www.airbnb.com/users/show/451394358,Grecia,2022-03-26,...,Private room in rental unit,Private room,1 shared bath,"[""Gas stove"", ""Wifi"", ""Cooking basics"", ""Iron""...",NaN,NaN,NaN,sin informacion,sin informacion,sin informacion

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=data

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.520322e+18
scrape_id                                       2.023033e+13
host_id                                         6.213626e+08
host_listings_count                             2.600000e+01
host_total_listings_count                       2.950000e+01
latitude                                        1.950198e+01
longitude                                      -9.911657e+01
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  6.000000e+00
maximum_nights                                  2.542500e+03
minimum_minimum_nights                          3.500000e+00
maximum_minimum_nights                          6.000000e+00
minimum_maximum_nights                          2.265000e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          6.000000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.450000e+01
availability_60                                 1.125000e+02
availability_90                                 1.520000e+02
availability_365                                6.861250e+02
number_of_reviews                               1.155000e+02
number_of_reviews_ltm                           5.100000e+01
number_of_reviews_l30d                          5.000000e+00
review_scores_rating                            5.300000e+00
review_scores_accuracy                          5.255000e+00
review_scores_cleanliness                       5.350000e+00
review_scores_checkin                           5.300000e+00
review_scores_communication                     5.300000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.255000e+00
calculated_host_listings_count                  2.100000e+01
calculated_host_listings_count_entire_homes     1.250000e+01
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               4.680000e+00
dtype: float64
Limite inferior permitido id                                             -9.121932e+17
scrape_id                                       2.023033e+13
host_id                                        -2.993046e+08
host_listings_count                            -1.400000e+01
host_total_listings_count                      -1.450000e+01
latitude                                        1.931384e+01
longitude                                      -9.921809e+01
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -2.000000e+00
maximum_nights                                 -1.237500e+03
minimum_minimum_nights                         -5.000000e-01
maximum_minimum_nights                         -2.000000e+00
minimum_maximum_nights                         -7.750000e+02
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -2.000000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -3.550000e+01
availability_60                                -3.550000e+01
availability_90                                -2.400000e+01
availability_365                               -1.968750e+02
number_of_reviews                              -6.450000e+01
number_of_reviews_ltm                          -2.900000e+01
number_of_reviews_l30d                         -3.000000e+00
review_scores_rating                            4.340000e+00
review_scores_accuracy                          4.495000e+00
review_scores_cleanliness                       4.310000e+00
review_scores_checkin                           4.500000e+00
review_scores_communication                     4.500000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.335000e+00
calculated_host_listings_count                 -1.100000e+01
calculated_host_listings_count_entire_homes    -7.500000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -2.040000e+00
dtype: float64

<ipython-input-58-c13d5afff35c>:4: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile25=y.quantile(0.25) #Q1
<ipython-input-58-c13d5afff35c>:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile75=y.quantile(0.75) #Q3

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= data[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

<ipython-input-59-1bd991765cce>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers_iqr= data[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.33,4.33,NaN,4.0,NaN,73.0,44.0,29.0,NaN,NaN
22007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,7.71
22010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN

In [ ]:
#Obtenemos datos limpios del Dataframe
data2_iqr= data[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data2_iqr

<ipython-input-60-929d09bf6535>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data2_iqr= data[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,10531228,...,5.00,4.95,5.00,4.86,NaN,3.0,3.0,0.0,0.0,0.19
1,2072354,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,16840050,...,4.93,5.00,4.95,4.84,NaN,2.0,2.0,0.0,0.0,0.54
2,696037,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,3531879,...,4.92,4.92,4.58,4.71,NaN,3.0,3.0,0.0,0.0,0.31
3,35797,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,153786,...,4.80,4.80,4.80,4.70,NaN,1.0,1.0,0.0,0.0,1.70
4,44616,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,196253,...,4.87,4.78,4.98,4.48,NaN,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22006,803701530756714315,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,322510577,...,NaN,NaN,4.67,NaN,NaN,NaN,NaN,NaN,0.0,1.34
22007,803741611995338649,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,195253877,...,5.00,5.00,5.00,5.00,NaN,6.0,6.0,0.0,0.0,1.27
22008,803758966788215755,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,492089560,...,4.80,4.80,4.80,4.70,NaN,3.0,0.0,3.0,0.0,1.70
22009,802784776175944639,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,27411678,...,5.00,4.89,5.00,4.61,NaN,18.0,NaN,0.0,0.0,NaN
22010,803765572979340478,NaN,20230329041210,NaN,NaN,NaN,NaN,NaN,NaN,451394358,...,4.80,4.80,4.80,4.70,NaN,12.3,9.8,2.2,NaN,1.70

In [ ]:
#Eliminamos columnas innecesarias
data3_iqr= data2_iqr.drop(['listing_url', 'last_scraped', 'source', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'instant_bookable'], axis=1)
data3_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,NaN,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,NaN,NaN,NaN,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22006,803701530756714315,20230329041210,322510577,NaN,NaN,19.405628,-99.164799,2.0,1.0,1.0,...,NaN,NaN,NaN,4.67,NaN,NaN,NaN,NaN,0.0,1.34
22007,803741611995338649,20230329041210,195253877,6.0,6.0,19.411629,-99.161556,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,6.0,6.0,0.0,0.0,1.27
22008,803758966788215755,20230329041210,492089560,3.0,3.0,19.405603,-99.155712,2.0,3.0,1.0,...,4.70,4.80,4.80,4.80,4.70,3.0,0.0,3.0,0.0,1.70
22009,802784776175944639,20230329041210,27411678,18.0,20.0,19.425984,-99.167117,2.0,1.0,1.0,...,4.89,5.00,4.89,5.00,4.61,18.0,NaN,0.0,0.0,NaN
22010,803765572979340478,20230329041210,451394358,9.0,9.0,19.411790,-99.174030,1.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,12.3,9.8,2.2,NaN,1.70

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                             2967
host_total_listings_count                       3101
latitude                                        1283
longitude                                       2369
accommodates                                     957
bedrooms                                         560
beds                                            2106
minimum_nights                                  1603
maximum_nights                                     2
minimum_minimum_nights                          2925
maximum_minimum_nights                          1768
minimum_maximum_nights                             5
maximum_maximum_nights                             6
minimum_nights_avg_ntm                          1679
maximum_nights_avg_ntm                             6
availability_30                                    1
availability_60                                    1
availability_90                                    1
availability_365                                   1
number_of_reviews                               1985
number_of_reviews_ltm                           1219
number_of_reviews_l30d                           744
review_scores_rating                            1567
review_scores_accuracy                          1566
review_scores_cleanliness                       1338
review_scores_checkin                           1073
review_scores_communication                     1342
review_scores_location                          1068
review_scores_value                             1629
calculated_host_listings_count                  2821
calculated_host_listings_count_entire_homes     3271
calculated_host_listings_count_private_rooms    2646
calculated_host_listings_count_shared_rooms      532
reviews_per_month                               1118
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data4_iqr=data3_iqr.copy()
data4_iqr=data4_iqr.fillna(round(data3_iqr.mean(),1))
data4_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,-99.200000,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,2.9,1.4,1.6,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22006,803701530756714315,20230329041210,322510577,5.0,5.9,19.405628,-99.164799,2.0,1.0,1.0,...,4.80,4.90,4.90,4.67,4.80,4.2,1.9,0.8,0.0,1.34
22007,803741611995338649,20230329041210,195253877,6.0,6.0,19.411629,-99.161556,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,6.0,6.0,0.0,0.0,1.27
22008,803758966788215755,20230329041210,492089560,3.0,3.0,19.405603,-99.155712,2.0,3.0,1.0,...,4.70,4.80,4.80,4.80,4.70,3.0,0.0,3.0,0.0,1.70
22009,802784776175944639,20230329041210,27411678,18.0,20.0,19.425984,-99.167117,2.0,1.0,1.0,...,4.89,5.00,4.89,5.00,4.61,18.0,1.9,0.0,0.0,1.40
22010,803765572979340478,20230329041210,451394358,9.0,9.0,19.411790,-99.174030,1.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,12.3,9.8,2.2,0.0,1.70

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data4_iqr.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
california_frame = pd.concat([data4_iqr, df_copia], axis=1)
california_frame.to_csv("DF.csv")

#**Extraccion de datos**

In [ ]:
df= pd.read_csv('DF (2) - DF (2).csv') 
df.head(2)

In [ ]:
#Filtro por comparacion
filtro1=df[df["host_acceptance_rate"] > 0.50]
filtro1

In [ ]:
#Filtro por objeto 
filtro2=df[df["host_is_superhost"] == "t"]
filtro2

In [ ]:
#Filtro por objeto 
filtro3=df[df["host_identity_verified"] == "f"]
filtro3

In [ ]:
#Filtro por comparacion
filtro5=df[df["bedrooms"] > 1]
filtro5

In [ ]:
#Filtro Y
filtro7=df[(df["price"] > 10000) & (df["room_type"] == "Entire home")]
filtro7

In [ ]:
#Filtro por comparacion
filtro6=df[df["review_scores_cleanliness"] > 4.5]
filtro6

In [ ]:
#Filtro por comparacion
filtro6=df[df["review_scores_value"] > 4.9]
filtro6

In [ ]:
#Filtro por comparacion
filtro6=df[df["availability_365"] < 100]
filtro6

In [ ]:
#Filtro por objeto 
filtro3=df[df["host_response_time"] == "within an hour"]
filtro3

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
2,2.0,696037,20230329041210,3531879,4,4,19.4418,-99.18402,6,3,...,Entire rental unit,Entire home/apt,2 baths,"[""Wifi \u2013 38 Mbps"", ""Central air condition...",1469.0,t,2023-03-29,2012-10-31,2022-12-21,f
4,4.0,44616,20230329041210,196253,16,16,19.41162,-99.17794,2.9,1.4,...,Entire home,Entire home/apt,5.5 baths,"[""Free street parking"", ""Security cameras on p...",18000.0,t,2023-03-30,2011-11-09,2023-03-26,f
6,6.0,56074,20230329041210,265650,2,6,19.43977,-99.15605,2,1,...,Entire condo,Entire home/apt,1 bath,"[""Luggage dropoff allowed"", ""Long term stays a...",650.0,t,2023-03-29,2011-04-02,2023-01-21,f
7,7.0,61792,20230329041210,299558,2,3,19.41083,-99.18057,2,1,...,Private room in home,Private room,1 shared bath,"[""Heating - split type ductless system"", ""Whir...",1089.0,t,2023-03-30,2017-11-01,2022-12-31,f
8,8.0,704779,20230329041210,2872228,13,14,19.43103,-99.14661,2,1,...,Entire condo,Entire home/apt,1 bath,"[""Ethernet connection"", ""TV with standard cabl...",943.0,t,2023-03-29,2013-08-21,2023-02-27,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,22006.0,803701530756714240.0,20230329041210,322510577,5,5.9,19.405628,-99.164799,2.0,1.0,...,Private room in rental unit,Private room,1 private bath,"[""Wifi"", ""Pets allowed"", ""Lockbox"", ""TV"", ""Fir...",283.0,t,2023-03-29,2023-01-22,2023-02-17,t
22008,22007.0,803741611995338496.0,20230329041210,195253877,6,6.0,19.411629,-99.161556,2.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Free street parking"", ""Luggag...",804.0,t,2023-03-30,2023-01-19,2023-01-29,t
22009,22008.0,803758966788215680.0,20230329041210,492089560,3,3.0,19.405603,-99.155712,2.0,3.0,...,Private room in rental unit,Private room,1 shared bath,"[""Cleaning products"", ""Dedicated workspace"", ""...",454.0,t,2023-03-30,sin informacion,sin informacion,f
22010,22009.0,802784776175944704.0,20230329041210,27411678,18,20.0,19.425984,-99.167117,2.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Wifi"", ""Cleaning available during stay"", ""Lu...",1200.0,t,2023-03-30,2023-01-20,2023-03-20,t
22011,22010.0,803765572979340544.0,20230329041210,451394358,9,9.0,19.41179,-99.17403,1.0,1.0,...,Private room in rental unit,Private room,1 shared bath,"[""Gas stove"", ""Wifi"", ""Cooking basics"", ""Iron""...",NaN,NaN,NaN,sin informacion,sin informacion,sin informacion